$font-primary: Arial,
Helvetica,
sans-serif;
$orange: #ffa600;
$grey: #f3f3f3;
$blue: #82d2e5;
$black-medium: #333;
$link-primary: $black-medium;
$link-secondary: $blue;
$link-tertiary: $grey;
$background-color-primary: $blue;